In [107]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [108]:
df = pd.read_csv(r'Analytics Case Study Dataset - Bazaar Launchpad 2023.csv')

In [109]:
df.head()

,dispatch_date,order_date,city,town,uc,delivery_warehouse,delivered_by,store_id,shaheen_id,tour_number,...,item_discount,net_gmv,gross_nmv,adjustment_amount,ordered_quantity,delivered_quantity,returned_quantity,out_of_stock_quantity,adjustment_reason,simplified_return_reason
0,8/1/2022,7/30/2022,Peshawar,Mardan,MDN-04 (Sabzi Mandi),ISB1,BAZAAR_RIDER,7M1NQJBMHLBgojlLWOQ7ia,L25UDNtYbloECsTcdGdvD,11-22-212-0063,...,10,2860,0,0,2,0,2,0,NaN,Customer Issue
1,8/1/2022,7/31/2022,Peshawar,Mardan,MDN-04 (Sabzi Mandi),ISB1,BAZAAR_RIDER,7M1NQJBMHLBgojlLWOQ7ia,L25UDNtYbloECsTcdGdvD,11-22-212-0063,...,0,1764,1764,0,3,3,0,0,NaN,NaN
2,8/1/2022,7/31/2022,Peshawar,Mardan,MDN-04 (Sabzi Mandi),ISB1,BAZAAR_RIDER,7M1NQJBMHLBgojlLWOQ7ia,L25UDNtYbloECsTcdGdvD,11-22-212-0063,...,0,1368,1368,0,3,3,0,0,NaN,NaN
3,8/1/2022,7/30/2022,Peshawar,Mardan,MDN-04 (Sabzi Mandi),ISB1,BAZAAR_RIDER,7M1NQJBMHLBgojlLWOQ7ia,L25UDNtYbloECsTcdGdvD,11-22-212-0063,...,0,2352,0,0,4,0,4,0,NaN,Customer Issue
4,8/1/2022,7/29/2022,Peshawar,Mardan,MDN-04 (Sabzi Mandi),ISB1,BAZAAR_RIDER,7M1NQJBMHLBgojlLWOQ7ia,L25UDNtYbloECsTcdGdvD,11-22-212-0063,...,3,1136,1160,0,8,8,0,0,NaN,NaN

In [110]:
df.columns

Index(['dispatch_date', 'order_date', 'city', 'town', 'uc',
       'delivery_warehouse', 'delivered_by', 'store_id', 'shaheen_id',
       'tour_number', 'delivery_type', 'order_number', 'order_channel',
       'item_id', 'item_name', 'weight', 'amount_per_unit', 'gross_gmv',
       'item_discount', 'net_gmv', 'gross_nmv', 'adjustment_amount',
       'ordered_quantity', 'delivered_quantity', 'returned_quantity',
       'out_of_stock_quantity', 'adjustment_reason',
       'simplified_return_reason'],
      dtype='object')

In [111]:
df.drop(columns=['order_number', 'item_id'], inplace=True)

In [115]:
df.shape

(19739, 26)